* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
    background-color: antiquewhite;
  
  header {
    background-color: red;
    
    
  }
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 50px;
}

.header_items{
    
    padding: 0.2rem 0.5rem;
    display: flex;
       background-color: aqua;
}

ul{
    display: flex;
    list-style-type: none;
}
.logo{
    background-color: blue;
    flex-basis: 110px;
}

.menu{
   justify-content: center;
    background-color: orange;
    flex-basis: 340px;
}

.login{
    justify-content: flex-end;
    background-color: violet;
    flex-basis: 110px;
}