* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #add8e6;
}

.header_items {
  border: 1px dotted;
  padding: 0.2rem 0.5rem;
  display: flex;
  background-color: aqua;
}

ul {
  display: flex;
  list-style-type: none;
  li {
    padding-left: 10px;
    a {
      text-decoration: none;
    }
  }
}
.logo {
  /* background-color: blue; */
  flex-basis: 110px;
}

.menu {
  justify-content: center;
  /*   background-color: orange; */
  flex-basis: 340px;
}

.login {
  justify-content: flex-end;
  /*   background-color: violet; */
  flex-basis: 110px;
}
/*  /end header */
.jumbotron {
  /*  border: 5px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 240px;
  /*padding:  5px;
    max-width: 430px;
    max-height: 190px;*/
  background-color: #00008b;
}
.jumbotron_item {
  /*  border: 5px solid; */
  padding: 5px;
  width: 430px;
  height: 190px;
  background-color: #ee81ee;
}
/*  /end jumbotron */
.invite_only {
  /*   border: 5px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background-color: white;
}
.invite_only_container {
  display: flex;
  height: 240px;
  width: 570px;
}
.invite_only_item_1 {
  flex-grow: 2;
  padding: 5px;
  /*   border: 5px solid greenyellow; */
  background-color: #1d90ff;
}
.invite_only_item_2 {
  flex-grow: 1;
  padding: 5px;
  /*  border: 5px solid green; */
  background-color: #ffbfcb;
}
/*  /end invite_only*/
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background-color: #d3d3d3;
}

.community_container {
  display: flex;
  height: 240px;
  width: 570px;
}

.community_item_1 {
  flex-grow: 1;
  padding: 5px;
  background-color: #ffbfcb;
}

.community_item_2 {
  flex-grow: 2;
  padding: 5px;
  background-color: #1d90ff;
}
/*  /end comunity */
.fandom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background-color: white;
}
.fandom_container {
  display: flex;
  height: 240px;
  width: 570px;
}
.fandom_item_1 {
  flex-grow: 2;
  padding: 5px;
  background-color: #1d90ff;
}
.fandom_item_2 {
  flex-grow: 1;
  padding: 5px;
  background-color: #ffbfcb;
}
/*  /end fandom */

.tecnology {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 470px;
  background-color: #d3d3d3;
}
.tecnology_item {
  border: 1px dotted black;
  padding: 5px;
  width: 570px;
  height: 430px;
  background-color: #238b21;
}
/*  end tecnology */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 470px;
  background-color: #23272a;
  border-bottom: 1px solid white;
}
.footer_container {
  /*   border: 8px red solid; */
  color: white;
  display: flex;
  /*   padding: 5px; */
  width: 570px;
  height: 430px;
}
.a {
  border: 1px dotted white;
  background-color: #ef8080;
  /* border: 2px blue solid; */
  flex-grow: 2;
}
.b {
  border: 1px dotted white;
  background-color: #20b1aa;
  /*    border: 5px green dotted; */
  flex-grow: 1;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #23272a;
}

.copyright_container {
  align-items: center;
  justify-content: space-between;
  border: 1px dotted;
  height: 35px;
  width: 570px;
  display: flex;
  background-color: #7fffd3;
}

.logo_copy {
  border: 2px dotted black;
  padding: 0.1rem 0.2rem;
  background-color: #feb5c0;
}
.bottone_copy {
  border: 2px dotted black;
  background-color: #feb5c0;
}
