* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
    background-color:antiquewhite;
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #add8e6;
}

.header_items{
    
    padding: 0.2rem 0.5rem;
    display: flex;
       background-color: aqua;
}

ul{
    display: flex;
    list-style-type: none;
}
.logo{
    background-color: blue;
    flex-basis: 110px;
}

.menu{
   justify-content: center;
    background-color: orange;
    flex-basis: 340px;
}

.login{
    justify-content: flex-end;
    background-color: violet;
    flex-basis: 110px;
}

.jumbotron{
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

   height: 240px;
    /*padding:  5px;
    max-width: 430px;
    max-height: 190px;*/
    background-color: #00008b;
}
.jumbotron_item{
    
   /*  border: 5px solid; */
    padding:  5px;
    width: 430px;
    height: 190px;
    background-color: #ee81ee;
}
.only_invite{
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    background-color: white;
}
.only_invite_container{
    display: flex;
    height: 240px;
    width: 570px;

}
.invite_only_item_1{
    flex-grow: 2;
    padding: 5px;
    border: 5px solid greenyellow;
}
.invite_only_item_2{
    flex-grow: 1;
    padding: 5px;
    border: 5px solid green;
}